/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-box {
    margin-bottom: 20px;
}

.input-field {

    width: 92%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}